{% load static %}

<link  rel="stylesheet" type="text/css" href="{% static '/css/footer1.css' %}" />


<footer>
  <div class="row-footer">
    <div class="subscribe_form">
      <input type="email" placeholder="Your E-Mail Address">
      <button type="submit">Subscribe</button>
    </div>
  </div>

  <div class="row-footer">
    <div class="adr-email">
      <ul class="">
        <li class="location"><a><i class="fas fa-map-pin"></i>Casablanca, Morocco</a></li>
        <li class="email_me"><i class="fas fa-paper-plane"></i>E-mail me at <spam class="email"><a href="mailto:barhoumi.meriem1@gmail.com?subject=subject text">barhoumi.meriem1@gmail.com</a></spam></li>
      </ul>
    </div>
  </div>

  <hr class="big-underline">

  <div class="row-footer">
    <div class="follow-icons">
      <li><span>Follow me here</span></li>
      <li><a><i class="fab fa-linkedin-in"></i></a></li>
      <li><a><i class="fab fa-instagram"></i></a></li>
      <li><a><i class="fab fa-twitter"></i></a></li>
      <li><a><i class="fab fa-facebook-f"></i></a></li>
      <li><a><i class="fab fa-github"></i></a></li>
      <li><a><i class="fab fa-stack-overflow"></i></a></li>
      <li><a><i class="fab fa-codepen"></i></a></li>
    </div>
  </div>


  <div class="row-footer">
    <div class="right-dis">Made with <i style="color: red; font-size: 12px;" class="fas fa-heart"></i> & <i style="color: rgb(95, 20, 20); font-size: 12px;" class="fas fa-coffee"></i> by <strong>Meriem Barhoumi</strong></div>
    <div class="left-dis">Copyright © 2021 <strong>CodePy</strong>. All the rights are reserved.</div>
  </div>

</footer>