{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<head>
	<title>CodePy</title>
	<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
	<link href="{% static '/css/login.css'  %}" rel="stylesheet" type="text/css">
</head>

<body style="background: #D5896F url('/static/images/sabara.png') no-repeat bottom right fixed;">
<h2>Sign in/up</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
    <form method="POST">
      {% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="{% provider_login_url 'facebook' %}" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="{% provider_login_url 'google' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="{% provider_login_url 'linkedin_oauth2' %}" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
        <input type="text" name="username" required="" placeholder="Full Name">
        <input type="email" name="email" required="" placeholder="Email">
        <input type="password" name="password1" required="" placeholder="Password">
        <input type="password" name="password2" required="" placeholder="Confirm Password">
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
    <form method="POST">
      {% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="{% provider_login_url 'facebook' %}" class="social" ><i class="fab fa-facebook-f"></i></a>
				<a href="{% provider_login_url 'google' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="{% provider_login_url 'linkedin_oauth2' %}" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
      <input type="text" name="username" required="" placeholder="User Name">
      <input type="password" name="password" required="" placeholder="Password">
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>

</body>