{% block content %}

<!--Register--> 
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		<input type="text" name="username" required="">
		<input type="email" name="email" required="">
		<input type="password" name="password1" required="">
		<input type="password" name="password2" required="">
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}
